:root {
  --bg_black: #000;
  --bg_gray: #0f0f0f;
  --title_color: #9c9a98;
  --text_color: #9c9a98;
  --light-text: #fff;
  --header_height: 70px;
  --transition: transform 0.2s cubic-bezier(0.075, 0.5, 0, 1);
  --elements_transition: 0.25s ease-in;
  --index: calc(1vw * 1.45);
  --font-family: "Calibri", sans-serif;
  --second-family: "Times New Roman", sans-serif;
  --font-size: clamp(1.25rem, calc(1.06rem + 0.94vw), 2rem);
  --paragraph-size: clamp(0.88rem, calc(0.72rem + 0.78vw), 1.5rem);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth !important;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,
h2 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
}
body._lock {
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

section {
  color: #fff;
}
section [class*=__container] {
  position: relative;
  margin: 0px auto;
  padding: 20px 20px 0;
}
@media (min-width: 480px) {
  section [class*=__container] {
    padding: 30px 20px 0;
  }
}
@media (min-width: 768px) {
  section [class*=__container] {
    padding: 50px 30px 0;
  }
}
@media (min-width: 1024px) {
  section [class*=__container] {
    padding: 65px 50px 0;
    max-width: 1340px;
  }
}

.title {
  text-transform: uppercase;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff8d5), to(#efd7aa));
  background: linear-gradient(180deg, #fff8d5 0%, #efd7aa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 15px #9d822b;
}
@media (min-width: 480px) {
  .title {
    margin-bottom: 6px;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 24px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
.text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
  color: var(--text_color);
  margin-bottom: 16px;
  text-align: left;
}
@media (min-width: 768px) {
  .text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .text {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .text {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.bg-black {
  background-color: var(--bg_black);
}

.bg-gray {
  background-color: var(--bg_gray);
}

.button-go {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #900302;
  -webkit-transition: opacity var(--elements_transition);
  transition: opacity var(--elements_transition);
  font-size: 14px;
  min-width: 80px;
  border-radius: 4px;
  padding: 5px 12px;
}
@media (any-hover: hover) {
  .button-go:hover {
    opacity: 0.6;
  }
}
@media (min-width: 768px) {
  .button-go {
    font-size: 20px;
    min-width: 150px;
  }
}
@media (min-width: 1024px) {
  .button-go {
    font-size: 26px;
    min-width: 200px;
  }
}
@media (min-width: 1200px) {
  .button-go {
    min-width: 234px;
  }
}
@media (min-width: 1600px) {
  .button-go {
    padding: 12px 25px;
  }
}
.button-red,
.button-gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  aspect-ratio: 236/57;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity var(--elements_transition);
  transition: opacity var(--elements_transition);
  font-size: 20px;
  width: 280px;
  padding: 12px;
  text-decoration: none;
}
@media (min-width: 480px) {
  .button-red,
  .button-gray {
    width: 236px;
  }
}
@media (min-width: 768px) {
  .button-red,
  .button-gray {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .button-red,
  .button-gray {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .button-red,
  .button-gray {
    font-size: 26px;
  }
}
@media (any-hover: hover) {
  .button-red:hover,
  .button-gray:hover {
    opacity: 0.6;
  }
}

.button-go,
.button-red,
.button-gray {
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
}
.button-go strong,
.button-red strong,
.button-gray strong {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff8d5), to(#efd7aa));
  background: linear-gradient(180deg, #fff8d5 0%, #efd7aa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  text-shadow: 0 0 15px #9d822b;
}

.button-red {
  background-image: url(../images/button_red.png);
}

.button-gray {
  background-image: url(../images/button_gray.png);
}

.navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 50;
  -webkit-transition: var(--elements_transition);
  transition: var(--elements_transition);
  top: 20px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .navigation {
    top: 30px;
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .navigation {
    padding: 0 50px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    top: 30px;
  }
}
@media (min-width: 1600px) {
  .navigation {
    top: 95px;
    padding: 0 35px;
  }
}
.navigation.sticky {
  padding: 0;
  top: 0;
}
.navigation.show {
  opacity: 1;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  visibility: visible;
}
.navigation__wrapper {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #222;
  border-radius: 4px;
  background-color: rgba(29, 29, 29, 0.83);
  padding: 12px 16px;
  z-index: 50;
}
@media (min-width: 768px) {
  .navigation__wrapper {
    padding: 25px 16px;
  }
}
@media (min-width: 1024px) {
  .navigation__wrapper {
    padding: 22px 25px;
  }
}
@media (min-width: 1600px) {
  .navigation__wrapper {
    padding: 23px 32px;
  }
}
.navigation__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}
.navigation__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767.98px) {
  .navigation__logo {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) {
  .navigation__logo {
    aspect-ratio: 29/6;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 125px;
            flex: 0 0 125px;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .navigation__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 175px;
            flex: 0 0 175px;
  }
}
@media (min-width: 1200px) {
  .navigation__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 203px;
            flex: 0 0 203px;
  }
}
.navigation__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.menu {
  display: none;
}
@media (min-width: 767.98px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.menu__body {
  width: 100%;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .menu__list {
    gap: 32px;
  }
}
@media (min-width: 1600px) {
  .menu__list {
    gap: 37px;
  }
}
.menu__link {
  font-family: var(--font-family);
  font-weight: 300;
  color: #9c9a98;
  text-decoration: none;
  -webkit-transition: color var(--elements_transition);
  transition: color var(--elements_transition);
}
.menu__link.active {
  color: #fff;
  font-weight: 400;
}
.menu__link:focus {
  outline: none;
}
.menu__link:focus-visible {
  outline: 2px dashed #fff;
  outline-offset: 3px;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #fff;
  }
}
@media (min-width: 768px) {
  .menu__link {
    color: #d5d5d5;
    position: relative;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .menu__link {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .menu__link {
    font-size: 26px;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #050505;
  z-index: 10;
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.mobile-menu._active {
  visibility: visible;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}
.mobile-menu__body {
  width: 100%;
  padding: 90px 50px 50px;
}
.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .mobile-menu__list {
    display: none;
    visibility: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
.mobile-menu__item {
  width: 100%;
  border-bottom: 1px solid rgba(29, 29, 29, 0.83);
  padding: 16px 0px;
}
.mobile-menu__link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #9c9a98;
  text-decoration: none;
  -webkit-transition: color var(--elements_transition);
  transition: color var(--elements_transition);
}
.mobile-menu__link.active {
  color: #fff;
  font-weight: 400;
}
.mobile-menu__link:focus {
  outline: none;
}
.mobile-menu__link:focus-visible {
  outline: 2px dashed #fff;
  outline-offset: 3px;
}

#nav-icon {
  display: block;
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 50;
}
@media (min-width: 768px) {
  #nav-icon {
    display: none;
  }
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
#nav-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}
#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
  top: 0px;
}
#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
  top: 10px;
}
#nav-icon span:nth-child(3) {
  left: 0;
}
#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
  top: 20px;
}
#nav-icon._active span:nth-child(1), #nav-icon._active span:nth-child(6) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#nav-icon._active span:nth-child(2), #nav-icon._active span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#nav-icon._active span:nth-child(1) {
  top: 7px;
}
#nav-icon._active span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
#nav-icon._active span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#nav-icon._active span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#nav-icon._active span:nth-child(5) {
  top: 17px;
}
#nav-icon._active span:nth-child(6) {
  left: calc(50% - 5px);
  top: 17px;
}

.header {
  position: relative;
  background-image: url(../images/home-bg.webp);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.header__container {
  position: relative;
  height: 100vh;
  margin: 0 auto;
  z-index: 0;
  min-height: 700px;
  max-height: 750px;
}
.header__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(39%, rgb(0, 0, 0)), color-stop(52%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgb(0, 0, 0) 39%, rgba(0, 0, 0, 0) 52%);
  z-index: 0;
}
@media (min-width: 480px) {
  .header__container {
    min-height: 600px;
    max-height: 650px;
  }
  .header__container::after {
    content: none;
  }
}
@media (min-width: 768px) {
  .header__container {
    min-height: 600px;
    max-height: 650px;
  }
}
@media (min-width: 1024px) {
  .header__container {
    min-height: 650px;
    max-height: 700px;
  }
}
@media (min-width: 1200px) {
  .header__container {
    min-height: 750px;
    max-height: 850px;
    max-width: 1340px;
  }
}
@media (min-width: 1600px) {
  .header__container {
    min-height: 800px;
    max-height: 902px;
  }
}
.header__content {
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  left: 0;
  z-index: 1;
  will-change: transform;
  font-weight: 900;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 20px;
}
@media (min-width: 480px) {
  .header__content {
    max-width: 406px;
    top: 25%;
    padding-left: 20px;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .header__content {
    top: 25%;
    max-width: 480px;
    padding-left: 30px;
  }
}
@media (min-width: 1024px) {
  .header__content {
    max-width: 600px;
    top: 30%;
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .header__content {
    max-width: 694px;
    top: 30%;
  }
}
@media (min-width: 1600px) {
  .header__content {
    max-width: 770px;
    top: 40%;
  }
}
.header__fog {
  position: absolute;
  z-index: 0;
}
.header__hero {
  position: absolute;
  will-change: transform;
  aspect-ratio: 1115/2628;
  top: 20px;
  right: 50%;
  width: 250px;
}
.header__hero img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 479.98px) {
  .header__hero {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@media (min-width: 480px) {
  .header__hero {
    top: 30%;
    right: 0;
    width: 290px;
  }
}
@media (min-width: 768px) {
  .header__hero {
    top: 7%;
    right: 10px;
    width: 290px;
  }
}
@media (min-width: 1024px) {
  .header__hero {
    top: 7%;
    right: 30px;
    width: 360px;
  }
}
@media (min-width: 1200px) {
  .header__hero {
    top: 10%;
    width: 400px;
  }
}
@media (min-width: 1600px) {
  .header__hero {
    top: 13%;
    right: 68px;
    width: 460px;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
@media (min-width: 480px) {
  .header__buttons {
    margin-top: 120px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .header__buttons {
    margin-top: 36px;
  }
}
@media (min-width: 1024px) {
  .header__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
    gap: 40px;
  }
}
.fog {
  width: 100%;
  height: 100%;
}
.fog::before, .fog::after, .fog div::before, .fog div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  opacity: 0.4;
  will-change: transform;
}
.fog div::before, .fog div::after {
  left: 100%;
}
.fog::before, .fog div::before {
  background-image: url(../images/fog-1.png);
  -webkit-animation: fogmove 30s linear 0s infinite;
          animation: fogmove 30s linear 0s infinite;
}
.fog::after, .fog div::after {
  background-image: url(../images/fog-2.png);
  -webkit-animation: fogmove 15s linear 0s infinite;
          animation: fogmove 15s linear 0s infinite;
}
@-webkit-keyframes fogmove {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fogmove {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.about__sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 20px;
}
@media (min-width: 768px) {
  .about__sliders {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .about__sliders {
    gap: 24px;
  }
}
.about__slider-media {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
@media (min-width: 768px) {
  .about__slider-media {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 354px;
            flex: 0 0 354px;
  }
}
@media (min-width: 1024px) {
  .about__slider-media {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 497px;
            flex: 0 0 497px;
  }
}
@media (min-width: 1200px) {
  .about__slider-media {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 627px;
            flex: 0 0 627px;
  }
}
@media (min-width: 1600px) {
  .about__slider-media {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 740px;
            flex: 0 0 740px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  will-change: transform;
}

.slider-media__bg {
  aspect-ratio: 3/2;
}
.slider-media__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1600px) {
  .slider-media__bg {
    aspect-ratio: 372/209;
  }
}

.slider-text__content {
  min-height: auto;
}
@media (min-width: 768px) {
  .slider-text__content {
    min-height: 228px;
    padding-left: 20px;
  }
}
@media (min-width: 1024px) {
  .slider-text__content {
    min-height: 320px;
  }
}
@media (min-width: 1200px) {
  .slider-text__content {
    min-height: 418px;
  }
}

.swiper-pagination {
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  padding: 24px 0 20px 0;
  bottom: auto !important;
  z-index: 0;
}
@media (min-width: 768px) {
  .swiper-pagination {
    padding: 24px 0 30px 0;
  }
}
.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 19px;
  height: 19px;
  display: inline-block;
  background-color: transparent;
  border-radius: 0;
  opacity: 1;
  margin: 0 !important;
  background-image: url(../images/swiper-pagination.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-image: url(../images/swiper-pagination-active.svg);
}

.world {
  background-image: url(../images/world-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .world {
    padding-bottom: 35px;
  }
}
@media (min-width: 1024px) {
  .world {
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .world {
    padding-bottom: 85px;
  }
}
@media (min-width: 1600px) {
  .world {
    padding-bottom: 95px;
  }
}
.world__container {
  display: block;
  padding-right: 15px !important;
}
@media (min-width: 1024px) {
  .world__container {
    display: grid;
    grid-template-columns: 1fr 520px;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .world__container {
    grid-template-columns: 1fr 650px;
  }
}
@media (min-width: 1600px) {
  .world__container {
    grid-template-columns: 1fr 790px;
  }
}
@media (min-width: 768px) {
  .world__content {
    margin-bottom: 20px;
  }
}
.world__map {
  aspect-ratio: 8/5;
}
.world__map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .world__map {
    max-width: 568px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .world__map {
    max-width: 100%;
  }
}
.cults {
  position: relative;
  background-image: url(./../images/cults-bg-bottom.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #050505;
  overflow: hidden;
  z-index: 0;
}
.cults::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: url(./../images/cults-bg-top.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: 1;
}
.cults__container {
  z-index: 2;
}
.cults__text {
  text-align: justify;
}
.cults__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 10px;
}
@media (min-width: 480px) {
  .cults__skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 6px;
  }
}
@media (min-width: 1024px) {
  .cults__skills {
    gap: 14px;
  }
}
@media (min-width: 1200px) {
  .cults__skills {
    gap: 42px;
  }
}
@media (min-width: 1600px) {
  .cults__skills {
    gap: 60px;
  }
}
.cults__skill {
  width: 100%;
  max-width: 230px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (min-width: 480px) {
  .cults__skill {
    max-width: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }
}
@media (min-width: 768px) {
  .cults__skill {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 229px;
            flex: 0 0 229px;
  }
}
@media (min-width: 1024px) {
  .cults__skill {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 299px;
            flex: 0 0 299px;
  }
}
@media (min-width: 1200px) {
  .cults__skill {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 339px;
            flex: 0 0 339px;
  }
}
@media (min-width: 1600px) {
  .cults__skill {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 375px;
            flex: 0 0 375px;
  }
}

.skill {
  position: relative;
  display: block;
  -webkit-filter: drop-shadow(12px 14px 14px rgba(0, 0, 0, 0.9));
          filter: drop-shadow(12px 14px 14px rgba(0, 0, 0, 0.9));
}
.skill__wrapper {
  aspect-ratio: 345/359;
  width: 100%;
  height: 100%;
  background-color: rgba(135, 4, 4, 0.315);
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 70%, 50% 100%, 0% 70%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 70%, 50% 100%, 0% 70%, 0 0);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 11%;
}
.skill__title {
  font-family: var(--second-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.03em;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff8d5), to(#efd7aa));
  background: linear-gradient(180deg, #fff8d5 0%, #efd7aa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 15px #9d822b;
  margin-bottom: 2.5%;
}
@media (min-width: 480px) {
  .skill__title {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .skill__title {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .skill__title {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .skill__title {
    font-size: 30px;
  }
}
.skill__subtitle {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5%;
}
@media (min-width: 480px) {
  .skill__subtitle {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .skill__subtitle {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .skill__subtitle {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .skill__subtitle {
    font-size: 24px;
  }
}
.skill__logo {
  aspect-ratio: 1/1;
  width: 35%;
  margin: 0 auto;
}
.skill__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.danji {
  background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#050505));
  background: linear-gradient(180deg, #131313 0%, #050505 100%);
}
.danji__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 580px;
}
@media (min-width: 768px) {
  .danji__container {
    min-height: auto;
  }
}
.danji__img {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  aspect-ratio: 273/356;
  z-index: 1;
  width: 234px;
}
.danji__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 480px) {
  .danji__img {
    width: 314px;
  }
}
@media (min-width: 768px) {
  .danji__img {
    -webkit-transform: none;
            transform: none;
    left: 50px;
  }
}
@media (min-width: 1024px) {
  .danji__img {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .danji__img {
    width: 474px;
  }
}
@media (min-width: 1600px) {
  .danji__img {
    width: 546px;
    top: -70px;
  }
}
.danji__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .danji__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 353px;
            flex: 0 0 353px;
  }
}
@media (min-width: 1024px) {
  .danji__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 489px;
            flex: 0 0 489px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .danji__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 599px;
            flex: 0 0 599px;
    margin-bottom: 70px;
  }
}
@media (min-width: 1600px) {
  .danji__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 700px;
            flex: 0 0 700px;
    margin-bottom: 100px;
  }
}
.registration {
  position: relative;
  z-index: 1;
}
.registration__figure {
  aspect-ratio: 234/305;
  margin: 0 auto 0 auto;
}
.registration__figure img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 480px) {
  .registration__figure {
    max-width: 305px;
  }
}
@media (min-width: 768px) {
  .registration__figure {
    margin: 0 0 0 auto;
    max-width: 339px;
  }
}
@media (min-width: 1024px) {
  .registration__figure {
    position: absolute;
    right: 28px;
    bottom: 0;
    max-width: 381px;
  }
}
@media (min-width: 1200px) {
  .registration__figure {
    max-width: 428px;
  }
}
@media (min-width: 1600px) {
  .registration__figure {
    max-width: 468px;
  }
}
.registration__body {
  max-width: 740px;
}
@media (min-width: 480px) {
  .registration__body {
    max-width: 740px;
  }
}
@media (min-width: 768px) {
  .registration__body {
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .registration__body {
    max-width: 570px;
  }
}
@media (min-width: 1200px) {
  .registration__body {
    max-width: 670px;
  }
}
@media (min-width: 1600px) {
  .registration__body {
    max-width: 740px;
  }
}
.registration__content {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .registration__content {
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .registration__content {
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .registration__content {
    margin-bottom: 65px;
  }
}
@media (min-width: 1600px) {
  .registration__content {
    margin-bottom: 95px;
  }
}
.registration__form {
  padding-bottom: 30px;
}
@media (min-width: 480px) {
  .registration__form {
    padding-bottom: 38px;
  }
}
@media (min-width: 768px) {
  .registration__form {
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .registration__form {
    padding-bottom: 56px;
  }
}
@media (min-width: 1200px) {
  .registration__form {
    padding-bottom: 65px;
  }
}
@media (min-width: 1600px) {
  .registration__form {
    padding-bottom: 90px;
  }
}
.form__feld {
  font-family: var(--font-family);
  display: grid;
  grid-template-columns: 210px 1fr;
  grid-template-columns: 1fr;
  font-size: 16px;
  gap: 6px;
}
.form__feld:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  .form__feld {
    grid-template-columns: 1fr;
    font-size: 16px;
    gap: 6px;
  }
}
@media (min-width: 768px) {
  .form__feld {
    grid-template-columns: 135px 1fr;
    font-size: 20px;
    gap: 30px;
    padding-right: 15px;
  }
}
@media (min-width: 1024px) {
  .form__feld {
    grid-template-columns: 175px 1fr;
    font-size: 24px;
  }
}
@media (min-width: 1600px) {
  .form__feld {
    grid-template-columns: 210px 1fr;
    font-size: 30px;
    gap: 37px;
  }
}
.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 63px;
}
.form label {
  -ms-flex-item-align: center;
      align-self: center;
}
.form input {
  width: 100%;
  appearance: none;
  background-color: #cccaca;
  cursor: auto;
  border-radius: 6px;
  border-color: transparent;
  font-size: 30px;
  caret-color: #333;
  padding: 6px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form input:focus {
  outline: none;
}
.form input::-moz-placeholder {
  font-size: 30px !important;
  color: #333;
  text-shadow: none;
  -webkit-text-fill-color: #333;
}
.form input:-moz-placeholder, .form input:-ms-input-placeholder, .form input::-moz-placeholder, .form input::-webkit-input-placeholder, .form input::-webkit-input-placeholder, .form input::placeholder {
  font-size: 30px !important;
  color: #333;
  text-shadow: none;
  -webkit-text-fill-color: #333;
}
.form input:-webkit-autofill {
  border: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: inherit;
  font-size: inherit;
  font-size: 30px !important;
}
.form input:autofill, .form input:-webkit-autofill, .form input:-webkit-autofill:hover, .form input:-webkit-autofill:focus, .form input:-webkit-autofill::first-line {
  border: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: inherit;
  font-size: inherit;
  font-size: 30px !important;
}
.form input:-internal-autofill-previewed {
  font-size: 30px !important;
}
.form input:valid {
  font-size: 30px !important;
}

.footer {
  padding: 20px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 34px;
  }
}
@media (min-width: 1024px) {
  .footer__container {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    font-size: 22px;
  }
}
@media (min-width: 1920px) {
  .footer__container {
    font-size: 26px;
    gap: 40px;
  }
}
@media (min-width: 3840px) {
  .footer__container {
    font-size: 52px;
    gap: 80px;
  }
}
.footer__text {
  color: #40403f;
}
.footer .text-blue {
  color: #566364;
}
.footer__link {
  position: relative;
  text-decoration: none;
  -webkit-transition: var(--elements_transition);
  transition: var(--elements_transition);
}
.footer__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #566364;
  -webkit-transition: var(--elements_transition);
  transition: var(--elements_transition);
}
.footer__link:focus {
  outline: none;
}
.footer__link:focus-visible {
  outline: 2px dashed #566364;
  outline-offset: 3px;
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: #9cabac;
    text-decoration: none;
  }
  .footer__link:hover::before {
    background-color: #9cabac;
  }
}