.about {
  background-color: #0f0f0f;
  // .about__container

  &__container {
  }

  // .about__sliders

  &__sliders {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 29px;
    }
    @media (min-width: 1024px) {
      gap: 34px;
    }
    @media (min-width: 1200px) {
      gap: 46px;
    }
    @media (min-width: 1600px) {
      gap: 24px;
    }
    @media (min-width: 1920px) {
      gap: 64px;
    }
    @media (min-width: 3840px) {
      gap: 120px;
    }
  }

  // .about__slider-media

  &__slider-media {
    flex: 0 0 100%;
    @media (min-width: 480px) {
    }
    @media (min-width: 768px) {
      flex: 0 0 354px;
    }
    @media (min-width: 1024px) {
      flex: 0 0 497px;
    }
    @media (min-width: 1200px) {
      flex: 0 0 627px;
    }
    @media (min-width: 1600px) {
      flex: 0 0 740px;
    }
    @media (min-width: 1920px) {
      flex: 0 0 892px;
    }
    @media (min-width: 3840px) {
      flex: 0 0 1784px;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  will-change: transform;
}

.slider-media {
  // .slider-media__wrapper

  &__wrapper {
  }

  // .slider-media__slide

  &__slide {
  }

  // .slider-media__bg

  &__bg {
    aspect-ratio: 16/9;
    background-color: #0f0f0f;
    video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: 1600px) {
      //aspect-ratio: 372/209;
    }
  }
}

.slider-text {
  // .slider-text__slide

  &__slide {
    background-color: #0f0f0f;
  }

  // .slider-text__content

  &__content {
    min-height: auto;
    @media (min-width: 768px) {
      padding-left: 20px;
    }
  }

  &__text {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.swiper-pagination {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 20px 0 29px 0;
  bottom: auto !important;
  z-index: 0;
  @media (min-width: 768px) {
    padding: 24px 0 30px 0;
  }
  @media (min-width: 1920px) {
    padding: 30px 0 35px 0;
    gap: 9px;
  }
  @media (min-width: 3840px) {
    padding: 69px 0 70px 0;
    gap: 17px;
  }

  .swiper-pagination-bullet {
    position: relative;
    width: 19px;
    height: 19px;
    display: inline-block;
    background-color: transparent;
    border-radius: 0;
    opacity: 1;
    margin: 0 !important;
    background-image: url(../images/swiper-pagination.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: 1920px) {
      width: 23px;
      height: 23px;
    }
    @media (min-width: 3840px) {
      width: 46px;
      height: 46px;
    }
  }
  .swiper-pagination-bullet-active {
    background-image: url(../images/swiper-pagination-active.svg);
  }
}
