.about {
  // .about__container

  &__container {
  }

  // .about__sliders

  &__sliders {
    display: flex;
    gap: 24px;
  }

  // .about__slider-media

  &__slider-media {
    flex: 0 0 740px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  will-change: transform;
}

.slider-media {
  // .slider-media__wrapper

  &__wrapper {
  }

  // .slider-media__slide

  &__slide {
  }

  // .slider-media__bg

  &__bg {
    aspect-ratio: 372/209;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.slider-text {
  // .slider-text__slide

  &__slide {
  }

  // .slider-text__content

  &__content {
    padding: 0 20px;
  }

  // .slider-text__title

  &__title {
  }

  // .slider-text__text

  &__text {
  }
}

.swiper-pagination {
  position: relative;
  height: calc(var(--index) * 3.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--index) * 0.7);
  bottom: auto !important;
  z-index: 0;
  .swiper-pagination-bullet {
    position: relative;
    border: calc(var(--index) * 0.09) solid #4d4743;
    width: calc(var(--index) * 0.55);
    height: calc(var(--index) * 0.55);
    transform: rotate(-45deg);
    display: inline-block;
    background-color: transparent;
    border-radius: 0;
    opacity: 1;
    margin: 0 !important;
    &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      inset: calc(var(--index) * 0.09);
    }
  }
  .swiper-pagination-bullet-active {
    border-color: #f5e3b9;
    &::before {
      background-color: #f5e3b9;
    }
  }
}
