.danji {
  background: linear-gradient(180deg, #131313 0%, #050505 100%);

  // .danji__container

  &__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 580px;
    @media (min-width: 768px) {
      min-height: auto;
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1920px) {
    }
    @media (min-width: 3840px) {
    }
  }

  // .danji__img

  &__img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    aspect-ratio: 273/356;
    z-index: 1;
    width: 234px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    @media (min-width: 480px) {
      width: 314px;
    }
    @media (min-width: 768px) {
      width: 354px;
      transform: none;
      left: 30px;
    }
    @media (min-width: 1024px) {
      width: 455px;
    }
    @media (min-width: 1200px) {
      width: 534px;
    }
    @media (min-width: 1600px) {
      left: 40px;
      width: 574px;
      top: -90px;
    }
    @media (min-width: 1920px) {
      left: 120px;
      width: 715px;
      top: -125px;
    }
    @media (min-width: 3840px) {
      left: 120px;
      width: 1385px;
      top: -223px;
    }
  }

  // .danji__content

  &__content {
    flex: 1 1 auto;
    margin-bottom: 20px;
    @media (min-width: 480px) {
    }
    @media (min-width: 768px) {
      flex: 0 0 353px;
    }
    @media (min-width: 1024px) {
      flex: 0 0 489px;
      margin-bottom: 30px;
    }
    @media (min-width: 1200px) {
      flex: 0 0 599px;
      margin-bottom: 70px;
    }
    @media (min-width: 1600px) {
      flex: 0 0 700px;
      margin-bottom: 135px;
    }
    @media (min-width: 1920px) {
      flex: 0 0 848px;
       margin-bottom: 200px;
    }
    @media (min-width: 3840px) {
      flex: 0 0 1696px;
      margin-bottom: 400px;
    }
  }
}
