.footer {
  padding: 20px 0;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: center;
    @media (min-width: 480px) {
    }
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 34px;
    }
    @media (min-width: 1024px) {
      font-size: 18px;
    }
    @media (min-width: 1200px) {
      font-size: 22px;
    }
    @media (min-width: 1600px) {
    }
    @media (min-width: 1920px) {
      font-size: 26px;
      gap: 40px;
    }
    @media (min-width: 3840px) {
      font-size: 52px;
      gap: 80px;
    }
  }
  &__text {
    color: #40403f;
  }
  .text-blue {
    color: #566364;
  }
  &__link {
    position: relative;
    text-decoration: none;
    transition: var(--elements_transition);
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #566364;
      transition: var(--elements_transition);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px dashed #566364;
      outline-offset: 3px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: lighten($color: #91a2a3, $amount: 4);
        text-decoration: none;
        &::before {
          background-color: lighten($color: #91a2a3, $amount: 4);
        }
      }
    }
  }
}
