.registration {
  position: relative;
  z-index: 1;
  // .registration__container

  &__container {
  }

  &__figure {
    aspect-ratio: 234/305;
    margin: 0 auto 0 auto;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    @media (min-width: 480px) {
      max-width: 305px;
    }
    @media (min-width: 768px) {
      margin: 0 0 0 auto;
      max-width: 339px;
    }
    @media (min-width: 1024px) {
      position: absolute;
      right: 28px;
      bottom: 0;
      max-width: 381px;
    }
    @media (min-width: 1200px) {
      max-width: 428px;
    }
    @media (min-width: 1600px) {
      max-width: 468px;
    }
  }

  &__body {
    max-width: 740px;
    @media (min-width: 480px) {
      max-width: 740px;
    }
    @media (min-width: 768px) {
      max-width: 100%;
    }
    @media (min-width: 1024px) {
      max-width: 570px;
    }
    @media (min-width: 1200px) {
      max-width: 670px;
    }
    @media (min-width: 1600px) {
      max-width: 740px;
    }
  }

  // .registration__content

  &__content {
    margin-bottom: 30px;
    @media (min-width: 480px) {
    }
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 48px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 65px;
    }
    @media (min-width: 1600px) {
      margin-bottom: 95px;
    }
  }

  &__title {
  }

  // .registration__text

  &__text {
  }

  // .registration__form

  &__form {
    padding-bottom: 30px;
    @media (min-width: 480px) {
      padding-bottom: 38px;
    }
    @media (min-width: 768px) {
     padding-bottom: 0;
    }
    @media (min-width: 1024px) {
      padding-bottom: 56px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 65px;
    }
    @media (min-width: 1600px) {
      padding-bottom: 90px;
    }
  }
}
.form {
  // .form__feld

  &__feld {
    font-family: var(--font-family);
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-columns: 1fr;
    font-size: 16px;
    gap: 6px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @media (min-width: 480px) {
      grid-template-columns: 1fr;
      font-size: 16px;
      gap: 6px;
    }
    @media (min-width: 768px) {
      grid-template-columns: 135px 1fr;
      font-size: 20px;
      gap: 30px;
      padding-right: 15px;
    }
    @media (min-width: 1024px) {
      grid-template-columns: 175px 1fr;
      font-size: 24px;
    }
    @media (min-width: 1200px) {
    }
    @media (min-width: 1600px) {
      grid-template-columns: 210px 1fr;
      font-size: 30px;
      gap: 37px;
    }
  }

  // .form__button

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 63px;
  }

  label {
    align-self: center;
  }
  input {
    width: 100%;
    appearance: none;
    background-color: #cccaca;
    cursor: pointer;
    border-radius: 6px;
    border-color: transparent;
    font-size: 30px;
    caret-color: #333;
    padding: 6px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
      outline: none;
    }
    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder,
    &::-webkit-input-placeholder,
    &::placeholder {
      font-size: 30px !important;
      color: #333;
      text-shadow: none;
      -webkit-text-fill-color: #333;
    }
    &:autofill,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill::first-line {
      border: inherit;
      -webkit-text-fill-color: inherit;
      -webkit-box-shadow: inherit;
      font-size: inherit;
      font-size: 30px !important;
    }

    &:-internal-autofill-previewed {
      font-size: 30px !important;
    }
    &:valid {
      font-size: 30px !important;
    }
  }
}
