.registration {
  position: relative;
  z-index: 1;
  // .registration__container

  &__container {
    padding-top: 30px !important;
    @media (min-width: 480px) {
      padding-top: 30px !important;
    }
    @media (min-width: 768px) {
      padding-top: 107px !important;
    }
    @media (min-width: 1024px) {
      padding-top: 85px !important;
    }
    @media (min-width: 1200px) {
      padding-top: 100px !important;
    }
    @media (min-width: 1600px) {
    }
    @media (min-width: 1920px) {
      padding-top: 138px !important;
    }
    @media (min-width: 3840px) {
      padding-top: 275px !important;
    }
  }

  &__figure {
    aspect-ratio: 234/305;
    margin: 0 auto 0 auto;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    @media (min-width: 480px) {
      max-width: 305px;
    }
    @media (min-width: 768px) {
      margin: 0 0 0 auto;
      max-width: 339px;
    }
    @media (min-width: 1024px) {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 381px;
    }
    @media (min-width: 1200px) {
      max-width: 428px;
    }
    @media (min-width: 1600px) {
      max-width: 468px;
    }
    @media (min-width: 1920px) {
      max-width: 611px;
    }
    @media (min-width: 3840px) {
      max-width: 1222px;
    }
  }

  &__body {
    max-width: 740px;
    @media (min-width: 480px) {
      max-width: 740px;
    }
    @media (min-width: 768px) {
      max-width: 100%;
    }
    @media (min-width: 1024px) {
      max-width: 570px;
    }
    @media (min-width: 1200px) {
      max-width: 670px;
    }
    @media (min-width: 1600px) {
      max-width: 740px;
    }
    @media (min-width: 1920px) {
      max-width: 873px;
    }
    @media (min-width: 3840px) {
      max-width: 1746px;
    }
  }

  // .registration__content

  &__content {
    margin-bottom: 30px;
    @media (min-width: 480px) {
    }
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 48px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 65px;
    }
    @media (min-width: 1600px) {
      margin-bottom: 95px;
    }
    @media (min-width: 1920px) {
      margin-bottom: 149px;
    }
    @media (min-width: 3840px) {
      margin-bottom: 299px;
    }
  }

  // .registration__form

  &__form {
    padding-bottom: 30px;
    @media (min-width: 480px) {
      padding-bottom: 38px;
    }
    @media (min-width: 768px) {
      padding-bottom: 0;
    }
    @media (min-width: 1024px) {
      padding-bottom: 56px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 65px;
    }
    @media (min-width: 1600px) {
      padding-bottom: 90px;
    }
    @media (min-width: 1920px) {
      padding-bottom: 108px;
    }
    @media (min-width: 3840px) {
    }
  }
}
.form {
  &__feds {
    display: flex;
    flex-direction: column;
    gap: 6px;
    @media (min-width: 768px) {
      gap: 21px;
    }
    @media (min-width: 1920px) {
      gap: 25px;
    }
    @media (min-width: 3840px) {
      gap: 50px;
    }
  }
  // .form__feld

  &__feld {
    font-family: var(--font-family);
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-columns: 1fr;
    font-size: 16px;
    gap: 6px;
    @media (min-width: 480px) {
      grid-template-columns: 1fr;
      font-size: 16px;
    }
    @media (min-width: 768px) {
      grid-template-columns: 135px 1fr;
      font-size: 20px;
      gap: 30px;
    }
    @media (min-width: 1024px) {
      grid-template-columns: 175px 1fr;
      font-size: 24px;
    }
    @media (min-width: 1200px) {
    }
    @media (min-width: 1600px) {
      grid-template-columns: 210px 1fr;
      font-size: 30px;
      gap: 37px;
    }
    @media (min-width: 1920px) {
      grid-template-columns: 241px 1fr;
      font-size: 36px;
      gap: 60px;
    }
    @media (min-width: 3840px) {
      grid-template-columns: 481px 1fr;
      font-size: 72px;
      gap: 120px;
    }
  }

  label {
    align-self: center;
    color: #fff;
  }
  input {
    width: 100%;
    appearance: none;
    background-color: #cccaca;
    cursor: auto;
    border-radius: 6px;
    border-color: transparent;
    font-size: 16px;
    caret-color: #333;
    padding: 6px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
      outline: none;
    }
    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder,
    &::-webkit-input-placeholder,
    &::placeholder {
      color: #333;
      text-shadow: none;
      -webkit-text-fill-color: #333;
    }
    &:autofill,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill::first-line {
      border: inherit;
      -webkit-text-fill-color: inherit;
      -webkit-box-shadow: inherit;
      font-size: inherit;
    }

    @media (min-width: 768px) {
      font-size: 20px;
    }
    @media (min-width: 1024px) {
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      font-size: 30px;
    }
    @media (min-width: 1920px) {
      font-size: 36px;
    }
    @media (min-width: 3840px) {
      font-size: 72px;
    }
  }
  // .form__button

  &__button-container {
    margin-top: 25px;

    button {
      margin: 0 auto;
      @media (min-width: 768px) {
        margin-left: 165px;
      }
      @media (min-width: 1024px) {
        margin-left: 205px;
      }
      @media (min-width: 1600px) {
        margin-left: 246px;
      }
      @media (min-width: 1920px) {
        margin-left: 301px;
      }
      @media (min-width: 3840px) {
        margin-left: 597px;
      }
    }
    @media (min-width: 1024px) {
      margin-top: 50px;
    }
    @media (min-width: 1920px) {
      margin-top: 60px;
    }
    @media (min-width: 3840px) {
      margin-top: 115px;
    }
  }
}
