@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px) {
}

.world {
  background-image: url(../images/world-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  @media (min-width: 480px) {
  }
  @media (min-width: 768px) {
    padding-bottom: 35px;
  }
  @media (min-width: 1024px) {
    padding-bottom: 60px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 85px;
  }
  @media (min-width: 1600px) {
    padding-bottom: 95px;
  }
  // .world__container

  &__container {
    display: block;

    padding-right: 15px !important;
    @media (min-width: 480px) {
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 520px;
      gap: 20px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr 650px;
    }
    @media (min-width: 1600px) {
      grid-template-columns: 1fr 790px;
    }
  }

  // .world__content

  &__content {
    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__title {
  }

  &__text {
  }

  // .world__map

  &__map {
    aspect-ratio: 8/5;
    background-image: url(../images/world-map.png);
    background-size: cover;
    background-position: center;
    @media (min-width: 768px) {
      max-width: 568px;
      margin: 0 auto;
    }
    @media (min-width: 1024px) {
      max-width: 100%;
    }
  }
}
