@import "_sliders.scss";

:root {
  --bg_black: #000;
  --bg_gray: #0f0f0f;
  --title_color: #9c9a98;
  --text_color: #9c9a98;
  --light-text: #fff;
  --header_height: 70px;
  --transition: transform 0.2s cubic-bezier(0.075, 0.5, 0, 1);
  --elements_transition: 0.25s ease-in;
  --index: calc(1vw * 1.45);
  --font-family: "Calibri", sans-serif;
  --second-family: "Times New Roman", sans-serif;
}

//------------------------------------------------------ //
//aspect-ratio: 16/9;
// font-size: clamp(1.13rem, calc(0.1rem + 5.13vw), 6.25rem)
// https://genius.courses/%d0%ba%d0%b0%d0%ba-%d0%b8%d1%81%d0%bf%d0%be%d0%bb%d1%8c%d0%b7%d0%be%d0%b2%d0%b0%d1%82%d1%8c-clamp/
// https://observablehq.com/@saneef/fluid-typography-css-clamp-value-generator
// clip-path: poligon()

// input {
//   caret-color: tomato;
//   &:focus {
//     outline: 1px solid tomato;
//   }
//   &::placeholder {
//     color: tomato;
//   }
// }

// .items {
//   counter-reset: my-counter;
//   .item {
//     counter-increment: my-counter;
//     content: counter(my-counter);
//   }
// }

//------------------------------------------------------ //
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1,
h2 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex: 1 1 auto;
  //padding-top: $header_height + 20px;
  //scroll-snap-type: y proximity; // test value
}

section {
  //scroll-snap-align: top; // test value
  color: #fff;
  position: relative;
  [class*="__container"] {
    position: relative;
    max-width: 1390px;
    max-width: calc(var(--index) * 58);
    margin: 0px auto;
    padding: 0px 15px;
  }
}

.title {
  text-transform: uppercase;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  font-size: calc(var(--index) * 1.38);
  line-height: 130%;
  letter-spacing: 0.03em;
  background: linear-gradient(180deg, #fff8d5 0%, #efd7aa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 15px #9d822b;
}

.text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: calc(var(--index) * 0.993);
  text-align: justify;
  color: var(--text_color);
  margin-top: calc(var(--index) * 1.5);
}

.bg-black {
  background-color: var(--bg_black);
}

.bg-gray {
  background-color: var(--bg_gray);
}

.stop-scroll {
  overflow: hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.button-go {
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: #900302;
  padding: calc(var(--index) * 0.39) calc(var(--index) * 1.51);
  border-radius: 7px;
  transition: opacity var(--elements_transition);
  strong {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(var(--index) * 1.095); // 26px
    letter-spacing: 0.03em;
    text-align: center;
    background: linear-gradient(180deg, #fff8d5 0%, #efd7aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }
}

.button-red,
.button-gray {
  aspect-ratio: 236/57;
  background-position: center;
  background-size: cover;
  min-width: calc(var(--index) * 8.5);
  background-color: transparent;
  cursor: pointer;
  border: none;
  user-select: none;
  transition: opacity var(--elements_transition);
  strong {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(var(--index) * 1.1213);
    letter-spacing: 0.03em;
    text-align: center;
    background: linear-gradient(180deg, #fff8d5 0%, #efd7aa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }
}
.button-red {
  background-image: url(../images/button_red.png);
}
.button-gray {
  background-image: url(../images/button_gray.png);
}

.header {
  position: fixed;
  width: 100%;
  top: calc(var(--index) * 3);
  left: 0;
  padding: 0 calc(var(--index) * 1.3);
  z-index: 50;
  transition: var(--elements_transition);

  // opacity: 0;
  // user-select: none;
  // visibility: hidden;
  &.sticky {
    padding: 0;
    top: 0;
  }
  &.show {
    opacity: 1;
    user-select: auto;
    visibility: visible;
  }

  // .header__container
  &__container {
    display: flex;
    gap: calc(var(--index) * 1.5);
    align-items: center;
    max-width: calc(var(--index) * 65);
    margin: 0 auto;
    border: 1px solid #222;
    border-radius: 4px;
    background-color: rgba(29, 29, 29, 0.83);
    padding: calc(var(--index) * 0.95) calc(var(--index) * 1.3);
  }

  // .header__logo
  &__logo {
    display: block;
    position: relative;
    width: calc(var(--index) * 10);
    height: calc(var(--index) * 2.75);
    flex: 0 0 calc(var(--index) * 9.3);
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .header__menu
  &__menu {
    flex: 1 1 auto;
  }

  &__button {
  }
}

.menu {
  display: flex;
  justify-content: flex-start;
  // .menu__body
  &__body {
  }
  // .menu__list
  &__list {
    display: flex;
    gap: 20px;
  }
  // .menu__item
  &__item {
  }
  // .menu__link

  &__link {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: calc(var(--index) * 1.095); // 26px
    color: #d5d5d5;
    text-decoration: none;
    transition: color var(--elements_transition);
    &.active {
      color: #fff;
      font-weight: 400;
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px dashed #fff;
      outline-offset: 3px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
      }
    }
  }
}

.layers {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;
  &__container {
    height: 100%;
    //min-height: 900px;
    overflow: hidden;
    z-index: 0;
  }

  &__base {
    height: 100%;
    width: 100%;
    //transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
    &::before,
    &::after,
    & div::before,
    & div::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: repeat-x;
      opacity: 0.4;
    }
    & div::before,
    & div::after {
      left: 100%;
    }
    &::before,
    & div::before {
      background-image: url(../images/fog-1.png);
      animation: fogmove 30s linear 0s infinite;
    }
    &::after,
    & div::after {
      background-image: url(../images/fog-2.png);
      animation: fogmove 15s linear 0s infinite;
    }
    @keyframes fogmove {
      from {
        transform: translate3d(0, 0, 0);
      }
      to {
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
  &__middle {
    width: calc(var(--index) * 19.1);
    //transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    aspect-ratio: 1115/2628;
    bottom: calc(var(--index) * -13);
    right: 0;
  }

  &__title {
  }
  &__text {
  }

  &__buttons {
    display: flex;
    gap: calc(var(--index) * 1.3);
    margin-top: calc(var(--index) * 1.5);
  }
}

.layer {
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  transition: var(--transition);
  &__header {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
    //transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    transition: var(--transition);
    will-change: transform;
    font-weight: 900;
    max-width: calc(var(--index) * 30);
    padding: 0 calc(var(--index) * 1);
  }
}

.footer {
  padding: calc(var(--index) * 1.08) 0;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--index) * 1.3);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: calc(var(--index) * 0.952);
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__text {
    color: #40403f;
  }
  .text-blue {
    color: #566364;
  }
  &__link {
    position: relative;
    text-decoration: none;
    transition: var(--elements_transition);
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #566364;
      transition: var(--elements_transition);
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px dashed #566364;
      outline-offset: 3px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: lighten($color: #91a2a3, $amount: 4);
        text-decoration: none;
        &::before {
          background-color: lighten($color: #91a2a3, $amount: 4);
        }
      }
    }
  }
}

.about {
  // .about__container

  &__container {
  }

  // .about__sliders

  &__sliders {
    display: flex;
    gap: calc(var(--index) * 1.2);
    padding-top: calc(var(--index) * 2.85);
  }

  // .about__slider-media

  &__slider-media {
    flex: 0 0 55%;
  }
}

.world {
  background-image: url(../images/world-bg.png);
  background-size: cover;
  background-position: 0 calc(var(--index) * 3);
  background-repeat: no-repeat;
  padding: calc(var(--index) * 2.85) 0;
  // .world__container

  &__container {
    display: flex;
    gap: calc(var(--index) * 1.2);
  }

  // .world__content

  &__content {
  }

  // .world__map

  &__map {
    flex: 0 0 55%;
    aspect-ratio: 398/249;
    background-image: url(../images/world-map.png);
    background-size: cover;
    background-position: center;
  }
}

.danji {
  background: linear-gradient(180deg, #131313 0%, #050505 100%);
  padding: calc(var(--index) * 2.85) 0 calc(var(--index) * 5.5) 0;
  // .danji__container

  &__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  // .danji__img

  &__img {
    position: absolute;
    top: calc(var(--index) * -5.6);
    left: calc(var(--index) * 4);
    aspect-ratio: 273/356;
    background-image: url(../images/danji.png);
    background-size: cover;
    background-position: center;
    width: calc(var(--index) * 23);
  }

  // .danji__content

  &__content {
    flex: 0 0 55%;
  }

  // .danji__title

  &__title {
  }

  // .danji__text

  &__text {
  }
}
